/* Classe CSS que define os estilos default dos objetos da classe FWDDialog */
.FWDDialog { /*border-style: solid;
  border-color: blue;
  border-width: 1px;
  background: white;*/
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	overflow: auto;
}

.divAutocomplete ul li a:HOVER {
	color: white;
	background: blue;
	cursor: pointer;
	text-decoration: none;
}

.divAutocomplete ul li a,.divAutocomplete ul li a.visited {
	color: black;
	text-decoration: none;
}

.divAutocomplete ul {
	font-size: 12px;
	list-style-type: none; margin : 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}

.divAutocomplete li {
	font-size: 12px;
	list-style-type: none;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	float: none;
	display: block !important;
	margin: 0 !important;
	padding: 2px !important;
	cursor: pointer !important;
}

.divAutocomplete {
	z-index: 1000;
	background: white;
	position: absolute;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 12px;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDViewGroup */
.FWDViewGroup { /*border-style: solid;
  border-color: black;
  border-width: 1px;*/
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDPanel */
.FWDPanel { /*border: outset;
  background: Silver;*/
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
	overflow: hidden;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDText */
.FWDText {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDMemo */
.FWDMemo {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDButton */
.FWDButton {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDStatic */
.FWDStatic {
	table-layout: fixed;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDWarning */
.FWDWarning {
	table-layout: fixed;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

.FWDWarning_TD {
	font-size: 8pt;
	background: #FFFFCC;
}

.FWDWarning_TD_nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 8pt;
	background: #FFFFCC;
}

/*.FWDFile{
  table-layout:fixed;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 8pt;
}*/
.FWDTD {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.FWDStaticScrolling {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDStatic */
.FWDStatic_Label {
	color: red;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDStatic */
.FWDStaticWarning {
	table-layout: fixed;
	color: red;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDViewButton */
.FWDViewButton {
	background-color: #D4D0C8;
	border: outset;
	border-width: 1px;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDSelect */
.FWDSelect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDDBSelect */
.FWDDBSelect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDUserPreferences */
.FWDUserPreferences {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDCalendar */
.FWDCalendar {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	width: 73px;
}

.FWDIcon {
	
}

.FWDController {
	
}

.FWDItemController {
	
}

.FWDRadioBox {
	height: 10px;
	width: 10px;
}

.FWDCheckBox {
	height: 10px;
	width: 10px;
}

.FWDMessageBox {
	
}

.FWDMenu {
	border-style: solid;
	border-width: 1px;
	border-color: #E5E5E5;
	background-image: url(../gfx/bg_menuContexto.jpg);
}

.FWDMenuSeparator {
	border-left: none;
	border-right: none;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	border-bottom-width: 1px;
}

.FWDMenuItem {
	cursor: pointer;
	vertical-align: middle;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	color: #333;
	background: #FBFBFB
}

.FWDMenuItemOver {
	cursor: pointer;
	vertical-align: middle;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	background-image: url(../gfx/bg_linhaContexto.jpg);
}

.FWDMenuShadowRight {
	background-image: url(../gfx/bg_shadowRight.png);
}

.FWDMenuShadowBottom {
	background-image: url(../gfx/bg_shadowBottom.png);
}

.FWDMenuShadowCorner {
	background-image: url(../gfx/bg_shadowCorner.png);
}

A:link {
	text-decoration: none;
	color: #000000
}

A:visited {
	text-decoration: none;
	color: #000000
}

A:hover {
	text-decoration: underline;
	color: #0033FF
}

A:active {
	text-decoration: none;
	color: #000000
}

.FWDLink {
	
}

A.FWDLink:link {
	text-decoration: none;
	color: #666666
}

A.FWDLink:visited {
	text-decoration: none;
	color: #666666
}

A.FWDLink:hover {
	text-decoration: underline;
	color: #0033FF
}

A.FWDLink:active {
	text-decoration: none;
	color: #666666
}

/* Classe CSS que define o estilo default de tables de objetos da classe FWDToolTip */
.FWDToolTip_table {
	background-color: #D1E6B3;
	border-style: solid;
	border-color: #B3D580;
	border-width: 1px;
	padding: 3px;
	z-index: 10;
}

/* Classe CSS que define o estilo default de fontes de objetos da classe FWDToolTip */
.FWDToolTip_font {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #222;
}

/* Classe CSS que define o estilo default de tables de objetos da classe FWDToolTip */
.ToolTipCreateModify_table {
	background-color: #DDDDDD;
	border-style: solid;
	border-color: #666666;
	border-width: 1px;
	padding: 3px;
	z-index: 10;
}

/* Classe CSS que define o estilo default de fontes de objetos da classe FWDToolTip */
.ToolTipCreateModify_font {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #111111;
}

.FWDLoading {
	background: #FF9922;
	color: White;
	font-weight: bolder;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px;
	width: 95px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	vertical-align: bottom;
}

.FWDPopUp {
	border-style: solid;
	border-color: #AEAEAE;
	border-width: 1px;
	background: white;
}

.FWDPopUpTitle { /*background-image: url(../gfx/bg_header.jpg);*/
	background-color: #AAAAAA;
	background-position: bottom;
	height: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-left: 0px;
	vertical-align: center;
}

.FWDPopUpCloseButton {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	color: #FFF;
	vertical-align: bottom;
	border: none;
	background: none;
	padding-left: 0px;
	padding-right: 0px;
	cursor: pointer;
}

.FWDFooter { /*  background-image: url(../gfx/bg_Body.jpg); */
	/*  padding-left: 30px; */
	
}

.FWDStaticVersion {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	/*  background-image: url(../gfx/bg_footer.jpg); */
	/*  padding-left: 30px; */
	color: #246DA2;
}

.FWDChartDirector {
	border: none;
}

.FWDViewButtonTransp {
	cursor: pointer;
	background-image: url(../gfx/transp.gif);
	z-index: 2;
}

.FWDViewButtonNotTransp {
	cursor: default;
	background-color: silver;
	z-index: 2;
}

.FWDMemoStatic {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
	font-size: 8pt;
	color: #000000;
	overflow: auto;
	background: #FFFFFF;
}