.FWDTreeBase {
  background: White;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  white-space: nowrap;
}
.FWDTreeBase img {
	vertical-align: text-top;
	border: 0px;
}

.FWDTreeBase a {
  color: #333;
  text-decoration: none;
}

.FWDDBTreeBase{
  background: White;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  white-space: nowrap;
}
.FWDDBTreeBase img {
  border: 0px;
  vertical-align: middle;
}
.FWDDBTreeBase a {
  color: #333;
  text-decoration: none;
}

.FWDTree_ViewGroup{
	display: inline;
	vertical-align: middle;
}

table.FWDTreeAjax{
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

td.FWDTreeAjax_td{
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

.FWDDbTree{
}

tr.FWDTree_tr{
}

td.FWDTree_td{
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

table.FWDDBTree{
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

tr.FWDDBTree_tr{
}

td.FWDDBTree_td{
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

table.FWDTree{
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.StaticTree{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 8pt;
  display:inline;
  overflow:hidden;
}

