/* Classe CSS que define os estilos default dos objetos da classe FWDDialog */
.FWDDialog { /*border-style: solid;
  border-color: blue;
  border-width: 1px;
  background: white;*/
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	overflow: auto;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDViewGroup */
.FWDViewGroup { /*border-style: solid;
  border-color: black;
  border-width: 1px;*/
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDPanel */
.FWDPanel { /*border: outset;
  background: Silver;*/
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
	overflow: hidden;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDText */
.FWDText {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDMemo */
.FWDMemo {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDButton */
.FWDButton {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDStatic */
.FWDStatic {
	table-layout: fixed;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDWarning */
.FWDWarning {
	table-layout: fixed;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

.FWDWarning_TD {
	font-size: 8pt;
	background: #FFFFCC;
}

.FWDWarning_TD_nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 8pt;
	background: #FFFFCC;
}

.FWDTD {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.FWDStaticScrolling {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDStatic */
.FWDStatic_Label {
	color: red;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDStatic */
.FWDStaticWarning {
	color: red;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDViewButton */
.FWDViewButton {
	border: outset;
	border-width: 1px;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDSelect */
.FWDSelect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDUserPreferences */
.FWDUserPreferences {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

/* Classe CSS que define os estilos default dos objetos da classe FWDCalendar */
.FWDCalendar {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	width: 73px;
}

.FWDIcon {
	
}

.FWDController {
	
}

.FWDItemController {
	
}

.FWDRadioBox {
	height: 10px;
	width: 10px;
}

.FWDCheckBox {
	height: 10px;
	width: 10px;
}

.FWDMessageBox {
	
}

.FWDMenu {
	border-style: solid;
	border-width: 1px;
	border-color: #E5E5E5;
	background-image: url(../gfx/bg_menuContexto.jpg);
}

.FWDMenuSeparator {
	border-left: none;
	border-right: none;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	border-bottom-width: 1px;
}

.FWDMenuItem {
	cursor: pointer;
	vertical-align: middle;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	color: #333;
}

.FWDMenuItemOver {
	cursor: pointer;
	vertical-align: middle;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
	background-image: url(../gfx/bg_linhaContexto.jpg);
}

.FWDMenuShadowRight {
	background-image: url(../gfx/bg_shadowRight.png);
}

.FWDMenuShadowBottom {
	background-image: url(../gfx/bg_shadowBottom.png);
}

.FWDMenuShadowCorner {
	background-image: url(../gfx/bg_shadowCorner.png);
}

A:link {
	text-decoration: none;
	color: #000000
}

A:visited {
	text-decoration: none;
	color: #000000
}

A:hover {
	text-decoration: underline;
	color: #0033FF
}

A:active {
	text-decoration: none;
	color: #000000
}

.FWDLink {
	
}

A.FWDLink:link {
	text-decoration: none;
	color: #666666
}

A.FWDLink:visited {
	text-decoration: none;
	color: #666666
}

A.FWDLink:hover {
	text-decoration: underline;
	color: #0033FF
}

A.FWDLink:active {
	text-decoration: none;
	color: #666666
}

/* Classe CSS que define o estilo default de tables de objetos da classe FWDToolTip */
.FWDToolTip_table {
	background-color: #f6f6e2;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 3px;
	z-index: 10px;
}

/* Classe CSS que define o estilo default de fontes de objetos da classe FWDToolTip */
.FWDToolTip_font {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #222;
}

.FWDLoading {
	background: red;
	color: White;
	font-weight: bolder;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px;
	width: 95px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	vertical-align: bottom;
}

.FWDPopUp {
	border: solid black 1px;
	background: white;
}

.FWDPopUpTitle {
	background: #e0e0e0;
	height: 25px;
}

.FWDFooter { /*  background-image: url(../gfx/bg_Body.jpg); */
	/*  padding-left: 30px; */
	
}

.FWDStaticVersion {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 10pt;
	/*  background-image: url(../gfx/bg_footer.jpg); */
	/*  padding-left: 30px; */
	color: #246DA2;
}

.FWDChartDirector {
	border: none;
}

.FWDViewButtonTransp {
	cursor: pointer;
	background-image: url(../gfx/transp.gif);
	z-index: 2;
}

.FWDViewButtonNotTransp {
	cursor: default;
	background-color: silver;
	z-index: 2;
}