.FWDDebugColor_DB {
	color: blue;
}

.FWDDebugColor_INFO {
	color: gray;
}

.FWDDebugColor_ERROR {
	color: red;
}

.FWDDebugColor_FWD1 {
	color: #d19275;
}

.FWDDebugColor_FWD2 {
	color: #d19275;
}

.FWDDebugColor_DEBUG {
	color: brown;
}

.FWDDebugColor_mssql {
	color: blue;
}

.FWDDebugColor_postgres7 {
	color: blue;
}

.FWDDebugColor_mysql {
	color: blue;
}

.FWDDebugColor_oci8 {
	color: blue;
}