.selected {
	border: solid 1px blue;
	z-index: 2;
	overflow: hidden;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

.selection {
	border: dotted 1px blue;
	z-index: 2;
}

.unselected {
	border: dashed 1px black;
	z-index: 1;
	overflow: hidden;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

.grid {
	overflow: hidden;
	border: solid 1px black;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 8pt;
}

.memostatic {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
	font-size: 8pt;
	color: #000000;
}

td.header {
	background-color: #0000CC;
	color: White;
	font-weight: bolder;
	border: outset 2px;
	padding-left: 5px;
	padding-right: 5px;
}

td.attributeName {
	background-color: ButtonFace;
	border: outset 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}

td.attributeValue {
	background-color: ButtonFace;
	border: outset 2px;
	margin: 0px;
	padding: 0px;
}

table.editor {
	border-spacing: 0px;
	border: outset 2px;
	z-index: 4;
	background-color: ButtonFace; //
	border-collapse: collapse;
}

body {
	margin: 0px;
}

#CodeViewer {
	border: solid 1px black;
	z-index: 4;
	background: white;
}

#helpContent {
	background: white;
	z-index: 4;
	vertical-align: top;
	height: 500px;
	overflow: auto
}

input.regularButton {
	margin: 1px;
	margin-right: 5px;
}

#buttons {
	background-color: ButtonFace;
	height: 35px;
	border-bottom: solid black 1px;
	padding-left: 5px;
}

img.iconButton {
	border: none;
	padding: 0px;
	margin: 1px;
}

img.iconButton:hover {
	border: 1px solid cyan;
	margin: 0px;
}

input.elementButton {
	height: 22px;
	font-size: 8pt;
	font-family: Tahoma, Arial;
	padding: 1px;
}

#iconButtons {
	position: relative;
	top: 7px;
	display: inline;
}

body {
	background: url(imgs/bggrid.png);
	background-repeat: repeat;
}

.hr {
	border: outset 1px;
	background: Gray;
}

.bt_button {
	height: 26px;
	width: 29px;
	background: url(imgs/button.png);
}

.bt_checkbox {
	height: 26px;
	width: 29px;
	background: url(imgs/checkbox.png);
}

.bt_dbgrid {
	height: 26px;
	width: 29px;
	background: url(imgs/dbgrid.png);
}

.bt_dbselect {
	height: 26px;
	width: 29px;
	background: url(imgs/dbselect.png);
}

.bt_selector {
	height: 26px;
	width: 29px;
	background: url(imgs/selector.png);
}

.bt_file {
	height: 26px;
	width: 29px;
	background: url(imgs/file.png);
}

.bt_grid {
	height: 26px;
	width: 29px;
	background: url(imgs/grid.png);
}

.bt_horizontalrule {
	height: 26px;
	width: 29px;
	background: url(imgs/horizontalrule.png);
}

.bt_icon {
	height: 26px;
	width: 29px;
	background: url(imgs/icon.png);
}

.bt_memo {
	height: 26px;
	width: 29px;
	background: url(imgs/memo.png);
}

.bt_memostatic {
	height: 26px;
	width: 29px;
	background: url(imgs/memostatic.png);
}

.bt_panel {
	height: 26px;
	width: 29px;
	background: url(imgs/panel.png);
}

.bt_radiobox {
	height: 26px;
	width: 29px;
	background: url(imgs/radiobox.png);
}

.bt_scrolling {
	height: 26px;
	width: 29px;
	background: url(imgs/scrolling.png);
}

.bt_select {
	height: 26px;
	width: 29px;
	background: url(imgs/select.png);
}

.bt_static {
	height: 26px;
	width: 29px;
	background: url(imgs/static.png);
}

.bt_warning {
	height: 26px;
	width: 29px;
	background: url(imgs/warning.png);
}

.bt_tabgroup {
	height: 26px;
	width: 29px;
	background: url(imgs/tabgroup.png);
}

.bt_text {
	height: 26px;
	width: 29px;
	background: url(imgs/text.png);
}

.bt_treebase {
	height: 26px;
	width: 29px;
	background: url(imgs/treebase.png);
}

.bt_viewbutton {
	height: 26px;
	width: 29px;
	background: url(imgs/viewbutton.png);
}

.bt_viewgroup {
	height: 26px;
	width: 29px;
	background: url(imgs/viewgroup.png);
}

.bt_preview {
	height: 26px;
	width: 29px;
	background: url(imgs/preview.png);
}

.bt_reportlevel {
	height: 26px;
	width: 29px;
	background: url(imgs/reportlevel.png);
}

.bt_reportline {
	height: 26px;
	width: 29px;
	background: url(imgs/reportline.png);
}

.bt_reportstatic {
	height: 26px;
	width: 29px;
	background: url(imgs/static.png);
}

.bt_reporticon {
	height: 26px;
	width: 29px;
	background: url(imgs/icon.png);
}