.FWDPanelActivation{ 
  background: #FCFEFC;  
}

.FWDDialogActivation{
  /*background-image:url(../gfx/bg.gif);
  background-repeat:repeat-x;*/
  background-color:#F8F8F8;
}

.FWDStaticActivationHeader{
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: bolder;
}

.FWDStaticActivation{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.7em;
}

.FWDStaticActivationMedium{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.9em;
}

.FWDStaticActivationLabel{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.7em;
  font-weight: bolder;
}

.FWDStaticActivationLabel_Label{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bolder;
  color:red;
}

.FWDStaticActivationSmallGray{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.7em;
  color: #7C7C7C;
}

.FWDStaticActivationSmall{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.7em;
}

.FWDStaticActivationBig{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.9em;
}

.FWDTextActivation{
  border: inset 1px #000000;
}

.FWDTextActivationYellow{
  border: inset 1px #000000;
  background-color: #F1FF9E;
}

.FWDPanelActivationGreen{
  background: #D6E5BE;
  border: solid 1px #2E6232;
}

.FWDViewButtonActivation{
  border: none;  
  cursor:pointer;
}

.FWDStaticActivationLink{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.7em;
  color: #3273CD;
  cursor:pointer;
}

.FWDStaticEmailWarning{
  table-layout:fixed;
  color: black;	
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 8pt;  
}

.FWDStaticErrorMessage{
  table-layout:fixed;
  color: red;	
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 10pt;
}

.FWDViewgroupWithBorder{
  border: solid 1px #000000;
}