/**/
.BODYBackground{
	background: #F8F8F8;
}

.FWDDialogLogin{
  background-image:url(../gfx/bg_login.jpg);
  background-repeat:repeat-x;
  /*border-style:solid;
  border-width: 1px;    
  border-color:black;*/ 
}

.FWDDialogSAAS{
  background-image:url(../gfx/bg_body.jpg);
  background-repeat:repeat-x;
  /*border-style:solid;
  border-width: 1px;    
  border-color:black;*/
  
}

.SAASpopupHeader{
  overflow:hidden;
  background-image:url(../gfx/bg_body.jpg);
  background-repeat:repeat-x;

}

.SAASRemoveWindow{
	background: #FFFFFF;
	border-style:solid;
	border-width: 1px;    
	border-color:black;
}

.FWDDialogSAASSystemInfoPopup{
  background-image:url(../gfx/bg_body.jpg);
  background-repeat:repeat-x;
  background-position:center;
  border-style:solid;
  border-width: 1px;    
  border-color:black;
}

.FWDDialogSAASPopup{
  overflow:visible;
  background:white;
}

.FWDViewButtonWithOutBorder{
  border: none;  
  cursor:pointer;
  z-index:-1;	
}

.FWDViewGroupSAASBody{
	background: #FFFFFF;
}

.FWDSAASFooter{
	background-image:url(../gfx/bg_footer.jpg);
    background-position:center;
}

.FWDViewButtonSAAS{
  background: #D8D8D8;
  border-style: solid;
  border-width: 1px;
  border-color: #A8A8A8;
}

.FWDViewButtonSAASSearch{	
  background:none; 
}

.FWDStaticSAASSearch{	
  background:none;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-weight: bolder;
  font-size: 8pt;
  text-decoration: underline;  
  color: #EEEEEE;  
}

.FWDPanelPopupSAAS{
  border-style: none;
  background:white;
}

.FWDPanelAboutSAAS{
  border-style: none;  
}

.FWDPanelTitleSAAS{
	font-family: Verdana, Tahoma, Arial, sans-serif;
  	font-size: 8pt;
    color: #000000;
	background-image: url(../gfx/bg_titleBox.jpg);
}

.FWDStaticBasePesquisa{
	font-family: Verdana, Tahoma, Arial, sans-serif;
  	font-size: 8pt;
    color: #555555;
}

.FWDStaticPopupTitle{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-weight: bolder;
  font-size: 10pt;
  color: #555555;
 background-image: url(../gfx/bg_titleBox.jpg);

}

.FWDStaticPopupAlertTitle{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-weight: bolder;
  font-size: 11pt;
  color: #444444;
  background-image: url(../gfx/bg_titleBox.jpg);
}

.bottomline{
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-top-width: 1px;
}

.FWDStaticGrey {
  color: #666666;
}

.FWDBackSlash {
  color: #666666;
  padding: 2px;
}

.BtPutValueGrid{
  border-style: none;
  background-image: url(../gfx/bt_iconPag_proximo.gif);
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer;
}

.BtDelValueGrid{
  border-style: none;
  background-image: url(../gfx/bt_iconPag_anterior.gif);
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer;
}

.StDisplayInfo{
  table-layout:fixed;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 8pt;
  border-style: solid;
  border-color: #E5E5E5;
  border-width: 1px;
  font-size: 8pt;
  color: #000000;
  background: white;
}

.GridLineYellow{
  background:#FFFF00;
  position:absolute;
}

.GridLineLightYellow{
  background:#FFFF99;
  position:absolute;
}

.GridLineRed{
  background:#FF8080;
  position:absolute;
}

.GridLineRed2{
  background:#FF4444;
  position:absolute;
}

.GridLineGreen{
  background:#00FF00;
  position:absolute;
}

.GridLineBlue{
  background:#6699FF;
  position:absolute;
}

.GridLineOrange{
  background:#FF9966;
  position:absolute;
}

.GridLineLightGreen{
  background:#00FF99;
  position:absolute;
}

.GridLinePink{
  background:#FF99CC;
  position:absolute;
}

.GridLineGreen{
  background:#339966;
  position:absolute;
}

.GridLineGreen2{
  background:#8DCF93;
  position:absolute;
}

.GridLineGreen3{
  background:#AEDDB3;
  position:absolute;
}

.GridLineGray{
  background:#C0C0C0;
  position:absolute;
}

.GridLinePurple{
  background:#800080;
  position:absolute;
}

.BtDownloadFile{
  border-style: none;
  background-image: url(../gfx/icon-edit-grid.gif);
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer;
}

.StaticMultiLine{
  line-height: 70%;
  table-layout:fixed;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 8pt;
}