h2 {
	font-size: 14pt;
	color: #1F5378;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bolder;
}

h3 {
	font-size: 12pt;
	color: #1F5378;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bolder;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

.button {
	font-size: 10pt;
	background: #C0C0C0;
	color: #1F5378;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bolder;
}

td.fieldLabel {
	font-size: 11pt;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	text-align: right;
}

td.colCell {
	text-align: center;
}

td.colHeader {
	text-align: center;
	font-size: 10pt;
	background: #EAF4FF;
	color: #1F5378;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bolder;
	border: 1px solid #1F5378;
}

tr.oddRow {
	background: #CCCCCC;
}

tr.evenRow {
	background: #EEEEEE;
}

table.columns {
	width: 100%;
	border: 1px solid gray;
}

div.panel {
	border: 1px solid gray;
	margin: 5px;
	padding: 5px;
}