.SystemLogo{
  background-image: url(../../../gfx/real3380.png);
}

.SystemLogoSmall{
  background-image: url(../../../gfx/real3380_small.png);
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_3380.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #787878;
}

.FWDTabItem_over{
  background-color: #787878;
}