.SystemLogo{
  background-image: url(../../../gfx/realISMS.png);
}

.BannerSurveyPT{
  background-image: url(../../../gfx/banner_pt.jpg);
}

.BannerSurveyEN{
  background-image: url(../../../gfx/banner_en.jpg);
}

.BannerSurveyES{
  background-image: url(../../../gfx/banner_es.jpg);
}

.HeaderSurveyPT{
  background-image: url(../../../gfx/header_survey_pt.jpg);
}

.HeaderSurveyEN{
  background-image: url(../../../gfx/header_survey_en.jpg);
}

.HeaderSurveyES{
  background-image: url(../../../gfx/header_survey_es.jpg);
   
}

.SystemLogoSmall{
  background-image: url(../../../gfx/realISMS_small.png);
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_ISMS.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #3377BB;
}

.FWDTabItem_over{
  background-color: #3377BB;
}