.SystemLogo{
  background-image: url(../../../gfx/realPCI.png);
}

.SystemLogoSmall{
  background-image: url(../../../gfx/realPCI_small.png);
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_PCI.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #DF6800;
}

.FWDTabItem_over{
  background-color: #DF6800;
}