/**/
.FWDViewGroupPopupBody{
  background: #DDDDDD;
}

/**/
.FWDDialogMP{
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

/**/
.FWDViewButtonMP{
  background-image:url(../gfx/bt_gravar.jpg);
}

/**/
.staticBlackText_8pt{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-weight: bolder;
  font-size: 8pt;
  color: #111111;
}

/**/
.FWDPanelTitleMP{
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 8pt;
  color: #000000;
  background-image: url(../gfx/bg_titleBox.jpg);
}

/**/
.MPRemoveWindow{
	background: #FFFFFF;
	border-style:solid;
	border-width: 1px;    
	border-color:black;
	z-index:1000;
}