.SystemLogo{
  background-image: url(../../../gfx/realEMS.png);
}

.SystemLogoSmall{
  background-image: url(../../../gfx/realEMS_small.png);
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_EMS.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #339944;
}

.FWDTabItem_over{
  background-color: #339944;
}