.SystemLogo{
  background-image: url(../../../gfx/realBCMS.png);
  background-repeat: no-repeat;
}

.SystemLogoSmall{
  background-image: url(../../../gfx/realBCMS_small.png);
  background-repeat: no-repeat;
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_BCMS.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #F58021;
}

.FWDTabItem_over{
  background-color: #F99B4F;
}