.SystemLogo {
	background-image: url(../../../gfx/minimaSOX.png);
}

.SystemLogoSmall {
	background-image: url(../../../gfx/minimaSOX_small.png);
}

.SystemDialog {
	background-image: url(../../../gfx/bg_body_SOX.jpg);
	background-repeat: repeat-x;
}

.FWDTabItem_selected {
	background-color: #DE2021;
}

.FWDTabItem_notSelected {
	background-color: #636563;
	color: #FFFFFF;
}

.FWDTabItem_over {
	background-color: #DE2021;
}

.FWDSubTabItem_selected {
	background-color: #DE2021;
}

.FWDSubTabItem_notSelected {
	background-color: #CCCCCC
}

.FWDSubTabItem_over {
	background-color: #DE2021;
}

/* Classe CSS que define os estilos default da DIV do Titulo da grid */
.DvHdTitle {
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px;
	background-image: url(../../../gfx/bg_titleBox_grey.jpg);
}

.DvPgBt {
	background-image: url(../../../gfx/bg_titleBox_grey.jpg);
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	overflow: hidden;
}

/* tabela sem resultado */
.BdNoInf {
	background-color: #FFCFCF;
	cursor: default;
	overflow: hidden;
}

/* tods os paineis com azul leve ficam cinzas */
.FWDPanel_lightblue {
	background: #FFFFFF none repeat scroll 0 0;
	border: 1px solid silver;
}

/* botao primeira pagina */
.BtFirstPg {
	background-image: url(../../../gfx/bt_iconPag_primeira_grey.png);
	background-repeat: no-repeat;
	border-style: none;
	cursor: pointer;
}

/* botao pg anterior */
.BtBackPg {
	background-image: url(../../../gfx/bt_iconPag_anterior_grey.png);
	background-repeat: no-repeat;
	border-style: none;
	cursor: pointer;
}

/* botao prox pg */
.BtNextPg {
	background-image: url(../../../gfx/bt_iconPag_proximo_grey.png);
	background-repeat: no-repeat;
	border-style: none;
	cursor: pointer;
}

/* botao ultima pg*/
.BtLastPg {
	background-image: url(../../../gfx/bt_iconPag_ultimo_grey.png);
	background-repeat: no-repeat;
	border-style: none;
	cursor: pointer;
}

/* botao refresh*/
.BtRefresh {
	background-image: url(../../../gfx/refresh_grey.png);
	background-repeat: no-repeat;
	border-style: none;
	cursor: pointer;
}

/* topo dos pop-ups*/
.FWDPopUpTitle {
	background-color: #DE2021;
	background-position: center bottom;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	height: 25px;
	padding-left: 0;
}