.SystemLogo{
  background-image: url(../../../gfx/realOHS.png);
}

.SystemLogoSmall{
  background-image: url(../../../gfx/realOHS_small.png);
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_OHS.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #B000C8;
}

.FWDTabItem_over{
  background-color: #B000C8;
}