.SystemLogo{
  background-image: url(../../../gfx/realSOX.png);
}

.SystemLogoSmall{
  background-image: url(../../../gfx/realSOX_small.png);
}

.SystemDialog{
  background-image:url(../../../gfx/bg_body_SOX.jpg);
  background-repeat:repeat-x;
}

.FWDTabItem_selected{  
  background-color: #787878;
}

.FWDTabItem_over{
  background-color: #787878;
}