.siLv1 {
	padding-left: 0;
	padding-top: 2;
	padding-bottom: 2;
	color: red
}

.siLv2 {
	padding-left: 20;
	padding-top: 2;
	padding-bottom: 2;
	color: green
}

.siLv3 {
	padding-left: 40;
	padding-top: 2;
	padding-bottom: 2;
	color: blue
}

.siLv4 {
	padding-left: 60;
	padding-top: 2;
	padding-bottom: 2;
	color: olive;
}

.siLv5 {
	padding-left: 80;
	padding-top: 2;
	padding-bottom: 2;
	color: maroon;
}

.siLv6 {
	padding-left: 100;
	padding-top: 2;
	padding-bottom: 2;
	color: teal;
}

.siLv7 {
	padding-left: 120;
	padding-top: 2;
	padding-bottom: 2;
	color: navy;
}

.siLv8 {
	padding-left: 140;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv9 {
	padding-left: 160;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv10 {
	padding-left: 180;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv11 {
	padding-left: 200;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv12 {
	padding-left: 220;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv13 {
	padding-left: 240;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv14 {
	padding-left: 260;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv15 {
	padding-left: 280;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv16 {
	padding-left: 300;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv17 {
	padding-left: 320;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv18 {
	padding-left: 340;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv19 {
	padding-left: 360;
	padding-top: 2;
	padding-bottom: 2;
}

.siLv20 {
	padding-left: 380;
	padding-top: 2;
	padding-bottom: 2;
}